# Configuration file for coverage.py

[run]

branch = True
source = impall

[report]

fail_under = 50
skip_covered = True

exclude_lines =
    pragma: no cover
    if False:
    if __name__ == .__main__.:
    raise NotImplementedError
