boto3
dask[distributed]
dill
faiss-cpu
flask
flask_cors
flask_httpauth
lightning
matplotlib
networkx
numpy
pillow
pymongo
pytorch-lightning
requests
scikit-learn
sentence-transformers
torch
transformers
tqdm
werkzeug
