interactions:
- request:
    body: '{"input": ["shape"], "model": "jina-embeddings-v2-base-en"}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.jina.ai/v1/embeddings
  response:
    body:
      string: '{"model":"jina-embeddings-v2-base-en","object":"list","usage":{"total_tokens":3,"prompt_tokens":3},"data":[{"object":"embedding","index":0,"embedding":[0.0016148885,-0.26197305,0.6791992,0.081451416,-0.3154297,0.036783855,0.4653727,-0.16715495,1.410319,0.83658856,-0.8720703,-0.07242838,-1.0904948,-0.12872823,-0.5842285,0.6485596,-0.019592285,-0.030075073,0.06400553,-0.07248942,-0.041707356,-0.33766174,-1.0646158,-0.27677408,0.51676434,0.5289714,0.99576825,0.5934245,0.15661621,0.96950024,-0.06852213,-0.15901692,-0.6925786,0.37852988,0.39990234,-1.1944987,-0.34098306,-0.19217937,0.34700522,1.1648763,-0.120279945,0.18243408,-0.040771484,1.2117513[...]
[...]
