interactions:
- request:
    body: '{"prompt": "1+1=", "n": 1, "temperature": 0.0, "max_tokens": 64, "use_beam_search":
      false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://ec2-54-208-130-192.compute-1.amazonaws.com:8000/generate
  response:
    body:
      string: '{"text":["1+1=3\n\nI''ve been trying to figure out how to do this for
        a while now. I''ve tried using a switch statement, but that only works for
        a limited number of cases. I''ve also tried using an array, but that doesn''t
        seem to work either.\n\nHere''s"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: POST
    uri: http://ec2-54-208-130-192.compute-1.amazonaws.com:8000/generate
  response:
    body:
      string: "{\"text\":[\"2+2=4\\n\\nThis is a simple mathematical equation. It
        is a statement of fact. It is a truth.\\n\\nBut what if it wasn\u2019t? What
        if 2+2 didn\u2019t equal 4? What if it equaled 5 or 6 or 100?\\n\\nThis\"]}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
