.modal_over_page {
  display: flex;
  justify-content: center;
  background-color: #7f7f7f63;
  height: 100vh;
  position: fixed;
  align-items: center;
  width: 99vw;
  z-index: 12200;
  padding: 30px;
}

#modal {
  background-color: #17141b;
  color: white;
  border-radius: 25px;
  text-align: center;
  font-weight: 500;
  line-height: 20px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: relative;
  max-width: 800px;
  height: 400px;
  z-index: 1000;
  overflow: hidden;
  padding: 30px 20px;
}

#modal::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#762bf4, #762bf4), linear-gradient(#000, #000),
    linear-gradient(#762bf4, #762bf4), linear-gradient(#000, #000);
  animation: rotate 10s linear infinite;
}

#modal::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0.5%;
  top: 0.5%;
  width: 99%;
  height: 99%;
  border-radius: 23px;
  background: #000000;
}

@keyframes rotate {
  100% {
    transform: rotate(-1turn);
  }
}


.close_btn_container{
  text-align: end;
}
.close_btn {
  text-align: end;
  margin: 5px;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  display: revert;
  color: #fff;
  border: none !important;
  outline: none;
}

.modal_card {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 40px 90px 80px;
  align-items: center;
}

@media (max-width: 576px) {
  .modal_card {
    padding: 0 0 40px;
  }
}

.product_btn {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.border_top {
  border-top: 2px solid #c3f61d;
  padding-top: 10px;
}

.text_white {
  color: #fff;
}

.live_text {
  color: #762bf4;
  font-size: 42px;
  line-height: 100%;
}

@media (max-width: 768px) {
  .live_text {
    font-size: 25px;
  }
}

.fs_12 {
  font-size: 12px;
}

.launch_text {
  color: #878586;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.modal_list {
  list-style-type: none;
  padding-left: 15px;
  padding-top: 5px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.modal_list li {
  display: flex;
  align-items: flex-start;
  /* Align items to the top */
  margin-bottom: 10px;
  /* Adjust as needed to control spacing between lines */
}

.modal_list li::before {
  content: '-';
  margin-right: 5px;
  color: #fff;
  /* You can change the color as desired */
}

.p_star {
  padding-left: 20px;
  line-height: 18px;
}

.modal_btn {
  border-radius: 8px;
  height: 54px;
  padding: 8px;
  line-height: 16px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  gap: 12px;
  min-width: 250px;
  border: 1px solid #878787;
  color: #000;
  font-weight: 900;
}

.inside {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  align-items: flex-start;
}

.hunt {
  font-size: 20px;
}

.hunt span {
  font-size: 24px;
}

.featured {
  font-size: x-small;
}

.git_stars {
  line-height: 14px;
  color: #878787;
}

.git_stars span {
  font-size: 11px;
}

.git_stars small {
  font-size: 12px;
  font-weight: 900;
}

@-webkit-keyframes animatetop {
  from {
    transform: translate(0px, -300px);
    opacity: 0;
  }

  to {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    transform: translate(0px, -300px);
    opacity: 0;
  }

  to {
    transform: translate(0px);
    opacity: 1;
  }
}

#modal::-webkit-scrollbar {
  width: 0px;
  border-radius: 15px;
  background-color: #2c2c2c;
}

#modal::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #9f9f9f;
}

.react-responsive-modal-modal {
  background: none !important;
  margin: 0;
  box-shadow: none;
}

.react-responsive-modal-closeButton {
  display: none !important;
}

.block {
  display: block;
}

.none {
  display: none;
}